body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: large;
}

.content {
    display: grid;
    grid-template-columns: minmax(1.2rem, 1fr) minmax(0, 120ch) minmax(1.2rem, 1fr);
}

.content > * {
    grid-column: 2;
}

.preamble {
    font-size: larger;
}

.processes table,
.errors table {
    width: 100%;
    table-layout: auto;
    border-collapse: collapse;    
    border: black 1px solid;
}

.processes thead,
.errors thead {
    font-weight: bold;
}

.processes tbody tr:nth-child(odd),
.errors tbody tr:nth-child(odd) {
    background-color: #f0f0f0;
}

.processes tbody tr:nth-child(even),
.errors tbody tr:nth-child(even) {
    background-color: #ffffff;
}

td {
    padding: 0.4em;
}

.error-description {
    font-size: larger;
}

.error-stacktrace .error-stacktrace-frame:not(:last-child) {
    padding-bottom: 1em;
}

.error-stacktrace-frame table {
    width: 100%;
    table-layout: auto;
    border-collapse: collapse;    
    border: black 1px solid;
}

.error-stacktrace-frame tr td:first-child {
    background-color: #f0f0f0;
}

.error-stacktrace-frame-object-value,
.error-stacktrace-frame-function-value,
.error-stacktrace-frame-file-value {
    font-family: monospace;
    font-size: large;
}
